* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.booklist{
    margin: 2rem;
    gap: 1rem;
    display: grid;
}

.book{
    background: gray;
    border-radius: 5px;
    padding: 1rem;
    color: white;
    width: 300px;
}